<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Menu</title>
        <link href='https://fonts.googleapis.com/css?family=Vibur:400' rel='stylesheet'>
        <link href = "/css/menuStyle.css" rel = "stylesheet"/>
    </head>
    <body>
        <div class="box-wrapper">
            <div class="box">
                <div class = "box-txt">
                    <ul>
                        <li class="main-meal">Breakfast</li>
                            <div class="sub-main-meal">
                                <ul class="sub-meal">
                                    <li class="sub_sub_meal" id = "item" >Déjeuner Fassi  <div class="prix">30dhs</div></li>
                                    <li class="sub_sub_meal" id = "item" >Déjeuner Chamali  <div class="prix">35dhs</div></li>
                                    <li class="sub_sub_meal" id = "item" >Déjeuner Parisien  <div class="prix">35dhs</div> </li>
                                </ul>
                            </div>
                        <li class="main-meal">Lunch</li>
                            <div class="sub-main-meal">
                                <ul class="sub-meal">
                                    <li class="sub_sub_meal" id = "item" >Pizza     <div class="prix">25dhs</div></li>
                                    <li class="sub_sub_meal" id = "item" >Burger    <div class="prix">35dhs</div></li>
                                    <li class="sub_sub_meal" id = "item"> Pasta    <div class="prix">60dhs</div> </li>
                                </ul>
                            </div>
                        <li class="main-meal">Dinner</li>
                            <div class="sub-main-meal">
                                <ul class="sub-meal">
                                    <li class="sub_sub_meal" id = "item" >Hrira  <div class="prix">7dhs</div> </li>
                                    <li class="sub_sub_meal" id = "item" >Salade   <div class="prix">12dhs</div></li>
                                    <li class="sub_sub_meal" id = "item" >Omelette  <div class="prix">7dhs</div> </li>   
                                </ul>
                                    
                            </div>
                    </ul>
                </div>
            </div>
            <div class = "box-img2">
                <img class = "img1" src="/images/food.png" alt = menu-background>
                <!--<img class = "img2" src ="image/menu.png" alt="menu"> -->
                <div class="menu">
                    Menu
                    <div class = "sous_menu"></div>
                </div>
                
            </div>


        </div>
        <script src="/js/menu.js"></script>
    </body>
</html>
