<!DOCTYPE html>
<html>
    <head>
        <title>receipe</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/receipeStyle.css">
        <link href='https://fonts.googleapis.com/css?family=Vibur:400' rel='stylesheet'>
    </head>
    <body>
        <div class="container" id="container">
            <h1>Check</h1>
            <button class="btn">Pay here</button>
        </div>
        <style src="/js/receipe.js"></style>
    </body>


</html>