<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reservation Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/reservationStyle.css">
</head>


<body>

    <section class="banner">
        <h2>BOOK YOUR TABLE NOW</h2>
        <div class="card-container">
            <div class="card-img">
                <!-- image here -->
            </div>

            <div class="card-content">
                <h3>Reservation</h3>
                <form action="/tableReservation" method="post">
                    <div class="form-row">
                        <select name="days">
                                <option value = "day-select">Select Day</option>
                                <option value = "SU">Sunday</option>
                                <option value = "MO">Monday</option>
                                <option value = "TU">Tuesday</option>
                                <option value = "WE">Wednesday</option>
                                <option value = "TH">Thursday</option>
                                <option value = "FR">Friday</option>
                                <option value = "SA">Saturday</option>
                            </select>

                        <select name="hours">
                                <option value = "hour-select">Select Hour</option>
                                <option value = "10">10: 00</option>
                                <option value = "12">12: 00</option>
                                <option value = "14">14: 00</option>
                                <option value = "16">16: 00</option>
                                <option value = "18">18: 00</option>
                                <option value = "20">20: 00</option>
                                <option value = "22">22: 00</option>
                            </select>
                    </div>

                    <div class="form-row">
                        <input type="text" placeholder="Full Name" name="full_name">
                        <input type="text" placeholder="Phone Number" name="phone_number">
                    </div>

                    <div class="form-row">
                        <input type="number" placeholder="How Many Persons?" min="1" name="number">
                        <input type="submit" value="BOOK TABLE">
                    </div>
                </form>
            </div>
        </div>
    </section>

</body>

</html>